body {
  height: calc(100vh - 82px);
  width: 100vw;
  background-color: #28292c;
  margin: 0;
  margin-top: 82px;
  position: relative;
  overflow-x: hidden;
  font-size: 14px;
}

@media (min-width: 992px) {
  body {
    height: 100vh;
    max-width: calc(100vw - 220px);
    background-color: #28292c;
    margin-left: 220px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    font-size: 14px;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}
