body {
  height: 100vh;
  max-width: calc(100vw - 220px);
  background-color: #28292c;
  margin-left: 220px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
