.dashboard-container {
  // background: url("../../assets/mountain-bg.png");
  background: url("../../assets/test2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
  height: calc(100vh - 70px);
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-label {
  color: white;
}

.user-search {
  display: flex;
}
