.row.user-info__row {
  padding: 50px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  color: white;
}

.user-page__container {
  padding: 0;
  max-width: calc(100vw - 220px);
  margin: 0;
  position: relative;
  height: 100vh;
}

.profile-picture {
  width: 230px;
  height: 200px;
}

#user-info__col-1 {
  display: flex;
  flex-direction: column;
}
#user-info__col-2 h1 {
  text-align: right;
}
#user-info__col-2 h2 {
  text-align: right;
}
#user-info__col-2 p {
  text-align: right;
}

.user-list__row {
  max-width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list-dropdown {
  width: 50%;
}

.list-dropdown button {
  width: 100%;
  background-color: #1f2933;
}

.list-dropdown button:hover,
.list-dropdown button:active,
.list-dropdown button:focus,
.show > .btn-primary.dropdown-toggle:focus,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #1f2933;
}

#list-title {
  padding-bottom: 20px;
}

.dropdown-menu {
  background-color: #1f2933;
  color: white;
  width: 100%;
}

#dropdown-basic {
  font-size: 24px;
}

.dropdown-menu.show {
  margin-bottom: 20px !important;
}
.dropdown-menu .dropdown-item {
  color: white;
  position: relative;
  width: 100%;
  border-bottom: 1px solid black;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
  background-color: black;
  outline: none;
  border-color: black;
}

.full-list__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: center;
  margin-bottom: 50px;
}

.list-row {
  width: 100%;
}

.edit-profile__btn {
  display: flex;
  align-self: flex-start;
  padding-left: 0;
}
.edit-profile__btn,
.edit-profile__btn:focus,
.edit-profile__btn:hover,
.edit-profile__btn.btn-primary:not(:disabled):not(.disabled):active,
.see-all-lists,
.see-all-lists:focus,
.see-all-lists:hover,
.see-all-lists.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #28292c;
  border-color: #28292c;
  box-shadow: none;
}
