nav {
  background-color: #9fb3c8;
  max-width: 100vw;
  max-height: 70px;
}

.navbar-nav {
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dropdown-menu {
  background-color: #9fb3c8;
}

nav a {
  color: $light-grey !important;
}

.dropdown-item:hover {
  background-color: #627d98;
}

.nav-link {
  background-color: #627d98;
  margin-left: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

#basic-nav-dropdown {
  border-radius: 50%;
  padding: 10px;
}

.nav-home__image {
  height: 60px;
}

#nav-link__create {
  height: 25px;
  background-color: #9acd32;
  border-radius: 2em;
  margin-right: auto;
}

.form-inline .nav-search {
  width: 170px;
}

.nav-search__btn {
  background-color: white;
}
.nav-search__btn:focus {
  outline: none;
  box-shadow: none;
}

nav #userOrList2 {
  border-radius: 0px;
  background-color: #d9e2ec;
}
