.modal-rmv-border {
  border: 0px solid rgba(0, 0, 0, 0.2);
}

.modal-intro-container {
  text-align: center;
}

.list-details-header-container {
  text-align: center;
  margin: auto;
  font-size: 25px;
}

.list-creator-brand {
  height: 56px;
  width: 170px;
  float: left;
  margin-left: -15px;
}

.modal-rmv-padding-top {
  padding-top: 0;
}

.modal-rmv-padding-btm {
  padding-bottom: 0;
}

.contents-header {
  font-size: 20px;
  margin-bottom: 25px;

  .contents-header-caption {
    font-size: 15px;
    font-style: italic;
  }
}
