.modal-rmv-border {
  border: 0px solid rgba(0, 0, 0, 0.2);
}

.modal-intro-container {
  text-align: center;
}

.list-details-header-container {
  text-align: center;
  margin: auto;
  font-size: 25px;
}

.list-creator-brand {
  height: 56px;
  width: 170px;
  float: left;
  margin-left: -15px;
}

.contents-header {
  font-size: 20px;
  margin-bottom: 25px;
}
