.modal-rmv-border {
  border: 0px solid rgba(0, 0, 0, 0.2);
}

.modal-intro-container {
  text-align: center;
}

.list-creator-brand {
  height: 56px;
  width: 170px;
  float: left;
  margin-left: -15px;
}
