.edit-row-section {
    margin-top: 2rem;
}

.error-mssg {
    color: red;
    font-style: italic;
    margin-top: 0.5em;
}

.list-entries-section {
    display: flex;
    flex-direction: column;
}

.add-entry-btn {
    float: right;
}