.imageRow {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.imagePreview {
  width: 5rem;
  height: 5rem;
  margin-left: 1rem;
}

.imageField {
  margin: 0.7rem 0;
}

.reusable-form-btn-container {
  margin-top: 1rem;
}
