.user-info__row {
  margin-bottom: 20px;
}

.user-list__row {
  margin-top: 20px;
  width: 80%;
  margin: auto auto;
}

.full-list__row {
  position: relative;
  width: 100%;
}

.list-row {
  width: 100%;
}

.empty-list__row {
  background-color: #1f2933;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.list-item__row h1,
.list-item__row h3 {
  text-align: right;
  max-width: 100%;
  white-space: normal;
}

.details-row {
  color: white;
  background-color: #1f2933;
  width: 100%;
  position: relative;
  white-space: normal;
}

.details-body {
  padding-bottom: 25px;
  word-break: break-word;
}

.details-footer {
  display: flex;
  align-items: center;
  width: 100%;
}

.details-header-plus-body {
  width: 100%;
  padding: 10px;
}

#search-page__paginate-row {
  margin-top: auto;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  left: 75%; /* position the left edge of the element at the middle of the parent */

  transform: translateX(-50%);
  bottom: 0;
}

.search-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.search-row h3 {
  text-align: center;
  margin: auto auto;
}

#search-row__search {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#search-row__search .row {
  display: flex;
  align-items: center;
}
#search-page__paginate-row__small {
  margin-top: auto;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translateX(-50%);
  bottom: 0%;
}

@media (min-width: 600px) {
  #search-page__paginate-row__small {
    display: none;
  }
  #search-page__paginate-row {
    position: absolute;
    left: calc(
      100% - 33%
    ); /* position the left edge of the element at the middle of the parent */
    transform: translateX(-50%);
    bottom: 0;
  }
}

@media (min-width: 768px) {
  #search-row__search {
    margin-left: auto;
    margin-right: 70px;
    margin-top: 0;
  }
  #search-page__paginate-row {
    position: absolute;
    left: calc(
      100% - 28%
    ); /* position the left edge of the element at the middle of the parent */
    transform: translateX(-50%);
    bottom: 0;
  }
}

@media (min-width: 992px) {
  .user-list__row {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .full-list__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: center;
    margin-bottom: 50px;
  }
  #search-page__paginate-row {
    position: absolute;
    left: calc(
      100% - 24%
    ); /* position the left edge of the element at the middle of the parent */
    transform: translateX(-50%);
    bottom: 0;
  }
}
