.success-title {
  width: 100%;
  text-align: center;
}

.success-body {
  padding-top: 6px;
  padding-left: 16px;
  padding-bottom: 16px;
  text-align: center;
  padding-bottom: 0;
}

.success-header {
  border: none;
}

.success-title {
  border: none;
  font-size: 24px;
  width: 100%;
  text-align: center;
}

.success-footer {
  border: none;
  padding-top: 0;
}
